<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONSUELO ~ HOME</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//glenthemes.github.io/iconsax/geticons.js"></script>
    <link href="//glenthemes.github.io/iconsax/style.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/main.css" />
    
  </head>
  <body class="bg-secondary">
    <!-- component -->
    <div class="flex flex-row min-h-screen">
      <aside
        class="sidebar fixed z-50 w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-indigo-500">
        <!-- sidebar header  -->
        <div
          class="flex h-screen flex-col border-r bg-primary-60 text-white static"
        >
          <div class="sidebar-header mt-28 md:mt-0  flex space-x-1 px-4 py-4">
            <a href="/user/home">
              <img alt="consuelo-logo" src="/images/logo.png" />
            </a>
            <h1 class="px-2 text-white font-bold text-lg">Consuelo</h1>
          </div>

          <!-- sidebar -->
          <nav
            aria-label="Main Nav"
            class="main-nav mt-5 md:mt-20 flex flex-col space-y-2 w-full"
          >
            <a
              href="/user/home"
              class="flex items-center px-4 py-3 nav-active"
            >

              <i class="iconsax" icon-name="layout-2"></i>
              <span class="ml-3 text-sm font-medium"> Home </span>
            </a>

            <a
              href="/user/self-affirmation"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="document-sketch"></i>
              <span class="ml-3 text-sm font-medium"> Self Affirmation </span>
            </a>

            <a
              href="/user/mental-health-tips"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="message-dots-notif"></i>
              <span class="ml-3 text-sm font-medium"> Mental Health Tips </span>
            </a>

            <a
              href="/user/forum"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="group"></i>
              <span class="ml-3 text-sm font-medium"> Community </span>
            </a>

            <a
              href="/user/blog"
              class="flex items-center px-4 py-3"
            >
            <i class="iconsax" icon-name="document-text-1"></i>
              <span class="ml-3 text-sm font-medium"> Blog </span>
            </a>
            
            <a
              href="/user/logout"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="logout-1"></i>
              <span class="ml-3 text-sm font-medium"> Logout </span>
            </a>
          </nav>
        </div>
      </aside>

      <main
        class="main flex flex-col flex-grow md:ml-64 transition-all duration-150 ease-in bg-[#EFF3F6]">
        <div>
          <div class="w-full">
            
            <header
              class="header bg-white shadow py-4 flex justify-between items-center px-6 lg:px-10 ">
              
              <div class="md:hidden z-50 hamburger-menu w-[35px] h-[24px] flex flex-col justify-center cursor-pointer">
                <div class="hamburger-menu_1 mb-1  w-6 h-[2px] transition-all duration-150 ease-in bg-black"></div>
                <div class="hamburger-menu_2 w-6 h-[2px] transition-all duration-150 ease-in bg-black"></div>
                <div class="hamburger-menu_3 mt-1 w-6 h-[2px] transition-all duration-150 ease-in bg-black"></div>
              </div>

              <div class="ml-4">
                <h1 class="text-lg md:text-xl">
                  Welcome back, <%- userDetails.firstName %> 💚
                </h1>
                <p class="leading-5 text-[12px] md:text-sm">Your feelings are welcome here</p>
              </div>
  
              <div class="flex items-center space-x-3">
                <i class="fa-regular fa-bell"></i>
  
                <span
                  class="flex gap-2 border-2 border-solid rounded-2xl px-2 py-1 hover:cursor-pointer"
                >
                  <i class="fa-regular fa-user"></i>
  
                  <i class="fa-solid fa-angle-down"></i>
                </span>
              </div>
            </header>

          </div>

          <div class="main-content xl:grid xl:grid-cols-3 items-strech py-4 px-6 lg:px-10 ">
            <div class="xl:col-span-2 py-4 ">

              <div class="rounded-xl bg-white p-4 mt-4">
                <div class="flex justify-between">
                  <h2 class="mb-4">Mental Health Tips</h2>
                  <a href="/user/mental-health">View more</a>
                </div>

                <div class="flex flex-wrap md:flex-col justify-between items-center lg:block">
                  <div  class="flex flex-col items-center w-[145px] md:w-auto rounded-lg md:flex-row max-w-4xl">
                    <img class="object-cover w-full h-auto rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/images/home-tip-1.png" alt="blog img">
                    
                    <div class="flex flex-col md:px-4 leading-normal gap-2">
                        <h2 class="text-xs pt-3  md:text-base">Breakups/Fallout</h2>
  
                        <p class="text-[10px] md:text-base">Breakups and fallouts happens, what matters is how you handle these situations</p>
                    </div>
                  </div>

                  <div  class="flex flex-col items-center w-[145px] md:w-auto rounded-lg md:flex-row max-w-4xl">
                    <img class="object-cover w-full h-auto rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/images/home-tip-2.png" alt="blog img">
                    
                    <div class="flex flex-col md:px-4 leading-normal gap-2">
                        <h2 class="text-xs pt-3 md:text-base">Self-care</h2>
  
                        <p class="text-[10px] md:text-base">Embracing self-care and prioritising your well-being is key.</p>
                    </div>
                  </div>

                  <div  class="flex flex-col items-center w-[145px] md:w-auto rounded-lg md:flex-row max-w-4xl">
                    <img class="object-cover w-full h-auto rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/images/home-tip-3.png" alt="blog img">
                    
                    <div class="flex flex-col md:px-4 leading-normal gap-2">
                        <h2 class="text-xs pt-3  md:text-base">Stress Management</h2>
  
                        <p class="text-[10px]  md:text-base">Give yourself a break. Unwind by catching up with your friends. Create time to do the little things together.</p>
                    </div>
                  </div>

                  <div  class="flex flex-col items-center w-[145px] md:w-auto rounded-lg md:flex-row max-w-4xl">
                    <img class="object-cover w-full h-auto rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/images/home-tip-4.png" alt="blog img">
                    
                    <div class="flex flex-col md:px-4 leading-normal gap-2">
                        <h2 class="text-xs pt-3  md:text-base">Trauma</h2>
  
                        <p class="text-[10px]  md:text-base">Here’s some curated tips to help in getting you through recovery from frightening triggers and events.</p>
                    </div>
                  </div>
                </div>
              </div>              
            </div>



            <div class="py-4 row-[1/2] ml-4 xl:col-[3] max-h-screen overflow-y-scroll">
              <div class="bg-white rounded-xl flex flex-col px-3 py-6 gap-3">
                <div class="">
                  <h2 class="mb-4">Blog</h2>
                </div>
                <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg p-3 sm:p-6">
                  <img alt="blog img" src="/images/blog-smile.png" class="w-full object-cover" />
             
                  <div class="bg-white">
                       <a href="#">
                            <h3 class="mt-0.5 text-gray-900">
                              A step to step guide on how to deal with anxiety
                            </h3>
                       </a>
                  
                       <p class="mt-2 text-sm leading-relaxed text-gray-500 ">
                        3 mins read</p>
                       <p class="mt-2 text-sm leading-relaxed text-gray-500 ">
                        3 November, 2022</p>
                      </div>
                      
                </article>
                
                <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg p-3 sm:p-6">
                  <img alt="blog img" src="/images/blog-smile.png" class="w-full object-cover" />
             
                  <div class="bg-white">
                       <a href="#">
                            <h3 class="mt-0.5 text-gray-900">
                              Learning how to take life one day at a time
                            </h3>
                       </a>
                  
                       <p class="mt-2 text-sm leading-relaxed text-gray-500 ">
                        3 mins read</p>
                       <p class="mt-2 text-sm leading-relaxed text-gray-500 ">
                        5 October, 2022</p>
                      </div>
                      
                </article>

              </div>
            </div>
          </div>
        </div>
      </main>

    </div>

    <!-- Overlay -->
    <div class="overlay hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 transition-all duration-500 ease-in-out z-30"></div>            

    <script src="/js/sideBar.js"></script>
  </body>
</html>
