<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>CONSUÉLO ~ MUSIC</title>
      <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
      <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png"/>
      <link rel="manifest" href="/images/favicon/site.webmanifest" />

      <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="//glenthemes.github.io/iconsax/geticons.js"></script>
      <link href="//glenthemes.github.io/iconsax/style.css" rel="stylesheet">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-secondary">
    

<!-- component -->
<div class="flex flex-row min-h-screen ">
  <aside class="sidebar fixed w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-indigo-500"
  >

    <!-- sidebar header  -->
    <div
          class="flex h-screen flex-col border-r bg-primary-60 text-white static"
        >
          <div class="sidebar-header flex space-x-1 px-4 py-4">
            <a href="/user/home">
              <img alt="consuelo-logo" src="/images/logo.png" />
            </a>
            <h1 class="px-2 text-white font-bold text-lg">Consuelo</h1>
          </div>

          <!-- sidebar -->
          <nav
            aria-label="Main Nav"
            class="main-nav mt-20 flex flex-col space-y-2 w-full"
          >
            <a
              href="/user/home"
              class="flex items-center px-4 py-3"
            >

              <i class="iconsax" icon-name="layout-2"></i>
              <span class="ml-3 text-sm font-medium"> Home </span>
            </a>

            <a
              href="/user/self-affirmation"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="document-sketch"></i>
              <span class="ml-3 text-sm font-medium"> Self Affirmation </span>
            </a>

            <a
              href="/user/mental-health-tips"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="message-dots-notif"></i>
              <span class="ml-3 text-sm font-medium"> Mental Health Tips </span>
            </a>

            <a
              href="/user/forum"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="group"></i>
              <span class="ml-3 text-sm font-medium"> Forum </span>
            </a>

            <a
              href="/user/blog"
              class="flex items-center px-4 py-3"
            >
            <i class="iconsax" icon-name="document-text-1"></i>
              <span class="ml-3 text-sm font-medium"> Blog </span>
            </a>

            <a href="/user/meet-a-therapist" class="flex items-center px-4 py-3 nav-active">
              <i class="iconsax" icon-name="message-dash-1"></i>
              <span class="ml-3 text-sm font-medium"> Meet a therapist </span>
            </a>
            
            <a
              href="/user/logout"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="logout-1"></i>
              <span class="ml-3 text-sm font-medium"> Logout </span>
            </a>
          </nav>
        </div>
  </aside>

  <main class="main flex flex-col flex-grow md:ml-64 transition-all duration-150 ease-in bg-[#EFF3F6]">
    <div>
      <header class="header bg-white shadow py-4 flex justify-between items-center px-10">
        <div>
          <h1 class="text-xl">Meet a therapist</h1>
          <p class="leading-8 text-sm">Book a session with a therapist today</p>
        </div>
        
        <div class="flex items-center space-x-3">
          <i class="fa-regular fa-bell"></i>
          
          <span class="flex gap-2 border-2 border-solid rounded-2xl px-2 py-1 hover:cursor-pointer">
            <i class="fa-regular fa-user"></i>
            
            <i class="fa-solid fa-angle-down"></i>
          </span>
        </div>
        
      </header>
      
      
      <div id="main-content" class="hidden flex-col flex-grow py-4 px-10">
        <h1 class="text-base text-helper mt-6">Therapist</h1>
        <div class="md:mt-6 flex flex-wrap md:justify-start gap-6">


          <div class="w-full md:w-1/2 max-w-lg min-h-min bg-white rounded-xl py-5 px-5 flex flex-col">
            <div class="flex">
              <img src="/images/posi.png" 
              alt="a therapist portrait" class="rounded-full w-16 h-16">
              <div class="ml-10">
                <h4 class="text-xl font-semibold">Dr Hassy Posi</h4>
                <p class="font-medium text-helper mt-1">Therapist</p>
              </div>
            </div>
            <div class="md:ml-24 md:pl-2 mt-5 md:mt-10">
              <div class="flex justify-between items-center">
                <div class="rating-container">
                  <p class="font-medium text-body text-sm md:text-base">Relish Therapy Org</p>
                  <div class="text-icon mt-1 text-xl">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="border border-solid border-primary-50 p-2 md:py-2 md:px-5 cursor-pointer rounded-md flex justify-center items-center hover:opacity-60">
                  <p class="font-medium text-primary-50 text-xs md:text-base">Book a session</p>
                </div>
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/2 max-w-lg min-h-min bg-white rounded-xl py-5 px-5 flex flex-col">
            <div class="flex">
              <img src="/images/danny.png" 
              alt="a therapist portrait" class="rounded-full w-16 h-16">
              <div class="ml-10">
                <h4 class="text-xl font-semibold">Dr Hassy Posi</h4>
                <p class="font-medium text-helper mt-1">Therapist</p>
              </div>
            </div>
            <div class="md:ml-24 md:pl-2 mt-5 md:mt-10">
              <div class="flex justify-between items-center">
                <div class="rating-container">
                  <p class="font-medium text-body text-sm md:text-base">Relish Therapy Org</p>
                  <div class="text-icon mt-1 text-xl">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="border border-solid border-primary-50 p-2 md:py-2 md:px-5 cursor-pointer rounded-md flex justify-center items-center hover:opacity-60">
                  <p class="font-medium text-primary-50 text-xs md:text-base">Book a session</p>
                </div>
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/2 max-w-lg min-h-min bg-white rounded-xl py-5 px-5 flex flex-col">
            <div class="flex">
              <img src="/images/hassan.png"
              alt="a therapist portrait" class="rounded-full w-16 h-16">
              <div class="ml-10">
                <h4 class="text-xl font-semibold">Dr Hassy Posi</h4>
                <p class="font-medium text-helper mt-1">Therapist</p>
              </div>
            </div>
            <div class="md:ml-24 md:pl-2 mt-5 md:mt-10">
              <div class="flex justify-between items-center">
                <div class="rating-container">
                  <p class="font-medium text-body text-sm md:text-base">Relish Therapy Org</p>
                  <div class="text-icon mt-1 text-xl">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="border border-solid border-primary-50 p-2 md:py-2 md:px-5 cursor-pointer rounded-md flex justify-center items-center hover:opacity-60">
                  <p class="font-medium text-primary-50 text-xs md:text-base">Book a session</p>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>

        <h1 class="text-base text-helper mt-16">Booked Sessions</h1>
        <p class="text-body mt-4">No booked sessions</p>
        <!-- <p class="text-body mt-4">Your appointment with Dr Hassy Posi has been booked. He will reach out to you on Whatsapp.</p> -->

      </div>
      
      
      <div id="verification" class="flex justify-center text-body md:items-center">
            <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8">
                <div class="mx-auto max-w-xs">
                    <h1 class="font-semibold text-xl text-primary-60 text-center">Verify your identity</h1>
                    <p class="text-center mt-3">Verifiy your phone number to book a therapist</p>
                </div>

                <!-- Input phone number -->
                <form action="" id="numberInput" class="mx-auto mt-6 mb-0 max-w-xs">
                    <div>
                        <label for="telephone-number" class="sr-only">Phone Number</label>
                        <input
                            type="tel"
                            class="w-full rounded-lg border-gray-50 border-[1px] p-3 pr-12 text-sm shadow-sm text-gray-40 focus-visible:outline-primary-50 focus-visible:border-primary-50 bg-[#EFF3F6]"
                            placeholder="Enter phone number"
                            name="phone-number"
                        />
                    </div>
                    <div class="mt-6">
                        <button type="submit" id="numberSubmit" class="w-full txt-center rounded-lg border-primary-50 border-[1px] p-3 font-medium text-white shadow-sm bg-primary-50">Send OTP</button>
                    </div>
                </form>

                <!-- Enter OTP -->
                <form action="" id="otpInput" class="hidden mx-auto mt-6 mb-0 max-w-xs">
                    <div>
                        <label for="OTP" class="sr-only">OTP</label>
                        <input
                            type="text"
                            class="w-full rounded-lg border-gray-50 border-[1px] p-3 pr-12 text-sm shadow-sm text-gray-40 focus-visible:outline-primary-50 focus-visible:border-primary-50 bg-[#EFF3F6]"
                            placeholder="Enter OTP"
                            name="code"/>
                    </div>
                    <div class="mt-6">
                        <button type="submit" id="otpSubmit" class="w-full txt-center rounded-lg border-primary-50 border-[1px] p-3 font-medium text-white shadow-sm bg-primary-50">Verify</button>
                    </div>
                </form>
            </div>
      </div>
         
    </div>
  </main>
</div>

<!-- Modal -->
  <div id="modal" class="hidden w-96 h-48 bg-white rounded-xl absolute transfrom -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 z-50">
    <button class="close-modal text-3xl ml-auto absolute right-4 top-2">&times;</button>
    <div class="flex justify-center items-center pt-8">
      <img src="/images/sucessful-icon.svg" alt="" class="w-20">
    </div>
    <div class="flex flex-col justify-center items-center mt-2">
      <p class="font-medium text-lg">Verified number</p>
      <p class="text-sm text-modal leading-6">
        Your number has been successfully verified
      </p>
    </div>
  </div>
  
  <!-- Overlay -->
  <div class="overlay hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-60 z-40"></div>            
    
<script src="/JS/meetATherapistAuth.js"></script>
</body>
</html>