<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONSUÉLO ~ HEALTH TIPS</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//glenthemes.github.io/iconsax/geticons.js"></script>
    <link href="//glenthemes.github.io/iconsax/style.css" rel="stylesheet">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body class="bg-secondary">
    <!-- component -->
    <div class="flex flex-row min-h-screen">
      <aside
        class="sidebar fixed w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-indigo-500"
      >
        <!-- sidebar header  -->
        <div
        class="flex h-screen flex-col border-r bg-primary-60 text-white static"
      >
        <div class="sidebar-header flex space-x-1 px-4 py-4">
          <a href="/user/home">
            <img alt="consuelo-logo" src="/images/logo.png" />
          </a>
          <h1 class="px-2 text-white font-bold text-lg">Consuelo</h1>
        </div>

        <!-- sidebar -->
        <nav
          aria-label="Main Nav"
          class="main-nav mt-20 flex flex-col space-y-2 w-full"
        >
          <a
            href="/user/home"
            class="flex items-center px-4 py-3"
          >

            <i class="iconsax" icon-name="layout-2"></i>
            <span class="ml-3 text-sm font-medium"> Home </span>
          </a>

          <a
            href="/user/self-affirmation"
            class="flex items-center px-4 py-3"
          >
            <i class="iconsax" icon-name="document-sketch"></i>
            <span class="ml-3 text-sm font-medium"> Self Affirmation </span>
          </a>

          <a
            href="/user/mental-health-tips"
            class="flex items-center px-4 py-3 nav-active"
          >
            <i class="iconsax" icon-name="message-dots-notif"></i>
            <span class="ml-3 text-sm font-medium"> Mental Health Tips </span>
          </a>

          <a
            href="/user/forum"
            class="flex items-center px-4 py-3"
          >
            <i class="iconsax" icon-name="group"></i>
            <span class="ml-3 text-sm font-medium"> Forum </span>
          </a>

          <a
            href="/user/blog"
            class="flex items-center px-4 py-3"
          >
          <i class="iconsax" icon-name="document-text-1"></i>
            <span class="ml-3 text-sm font-medium"> Blog </span>
          </a>

          <a href="/user/music" class="flex items-center px-4 py-3">
            <i class="iconsax" icon-name="message-dash-1"></i>
            <span class="ml-3 text-sm font-medium"> Meet a therapist </span>
          </a>
          
          <a
            href="/user/logout"
            class="flex items-center px-4 py-3"
          >
            <i class="iconsax" icon-name="logout-1"></i>
            <span class="ml-3 text-sm font-medium"> Logout </span>
          </a>
        </nav>
      </div>
      </aside>

      <main
        class="main flex flex-col flex-grow md:ml-64 transition-all duration-150 ease-in bg-[#EFF3F6]"
      >
        <div>
          <header
            class="header bg-white shadow py-4 flex justify-between items-center px-10"
          >
            <div>
              <h1 class="text-xl">Welcome back, <%- userDetails.firstName %> 💚</h1>
              <p>Your feelings are welcome here</p>
            </div>

            <div class="flex items-center space-x-3">
              <i class="fa-regular fa-bell"></i>

              <span
                class="flex gap-2 border-2 border-solid rounded-2xl px-2 py-1 hover:cursor-pointer"
              >
                <i class="fa-regular fa-user"></i>

                <i class="fa-solid fa-angle-down"></i>
              </span>
            </div>
          </header>

          <div
            class="main-content flex flex-col flex-grow py-4 px-10"
            id="main"
          >
            <div
              class="flex my-0 mx-auto flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-12 items-center pb-4 md:pb-14"
            >
              <div
                class="bg-white rounded-2xl w-full max-w-xs md:max-w-md h-auto hover:shadow-2xl tips-card"
                id="cl"
              >
                <img
                  class="w-full max-w-xs md:max-w-md h-auto"
                  src="/images/friendship.svg"
                  alt="Friendship"
                />
                <div class="p-4">
                  <h1>Friendship</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  </p>
                </div>
              </div>
              <div
                class="bg-white rounded-2xl w-full max-w-xs md:max-w-md h-auto hover:shadow-2xl tips-card"
              >
                <img
                  class="w-full max-w-xs md:max-w-md h-auto"
                  src="/images/selfcare.svg"
                  alt="Self-care"
                />
                <div class="p-4">
                  <h1>Self-care</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  </p>
                </div>
              </div>
              <div
                class="bg-white rounded-2xl w-full max-w-xs md:max-w-md h-auto hover:shadow-2xl tips-card"
              >
                <img
                  class="w-full max-w-xs md:max-w-md h-auto"
                  src="/images/anxiety.svg"
                  alt="anxiety"
                />
                <div class="p-4">
                  <h1>Anxiety</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  </p>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col flex-wrap md:flex-nowrap md:flex-row space-y-4 md:space-y-0 md:space-x-12 items-center"
            >
              <div
                class="bg-white rounded-2xl md:w-auto hover:shadow-2xl w-full max-w-xs md:max-w-md h-auto tips-card"
              >
                <img
                  src="/images/selfesteem.svg"
                  alt="self-esteem"
                  class="w-full max-w-xs md:max-w-md h-auto"
                />
                <div class="p-4">
                  <h1>Boost self-esteem</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  </p>
                </div>
              </div>
              <div
                class="bg-white rounded-2xl w-full max-w-xs md:max-w-md h-auto md:w-auto hover:shadow-2xl tips-card"
              >
                <img
                  class="w-full max-w-xs md:max-w-md h-auto"
                  src="/images/stress_management.svg"
                  alt="stress management"
                />
                <div class="p-4">
                  <h1>Stress management</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  </p>
                </div>
              </div>
              <div
                class="bg-white rounded-2xl w-full max-w-xs md:max-w-md h-auto md:w-auto hover:shadow-2xl tips-card"
              >
                <img
                  class="w-full max-w-xs md:max-w-md h-auto"
                  src="/images/trauma.svg"
                  alt="Trauma"
                />
                <div class="p-4">
                  <h1>Trauma</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  </p>
                </div>
              </div>
            </div>
          </div>

          <footer class="footer px-4 py-6">
            <div class="footer-content">
              <p class="text-sm text-gray-600 text-center">
                &copy; consuélo 2020. All rights reserved.
                <a href="/">by consuélo dev team</a>
              </p>
            </div>
          </footer>
        </div>
      </main>
    </div>

    <script src="/js/mental-health-tips.js"></script>
  </body>
</html>
