<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>REGISTER | CONSUELO</title>
        
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/images/favicon/site.webmanifest">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body class="bg-secondary">
        <header class="flex justify-start items-center py-2 px-6 bg-primary-60">
            <div class="flex space-x-1">
                <a href="/">
                    <img alt="consuelo-logo" src="/images/logo.png"/>
                </a>
                <h1 class="px-2 text-white font-bold text-lg">
                    Consuelo
                </h1>
            </div>
        </header>

        <section class="flex flex-wrap lg:h-4/5 lg:items-center text-body">
            <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8">
                <div class="mx-auto max-w-xs space-y-4">
                    <h1 class="font-semibold text-2xl text-primary-60">Create a new account</h1>
                    <p class="font-light">You are one step towards getting better!</p>
                    <button class="w-full rounded-lg border-gray-50 border-[1px] p-3 text-sm shadow-sm text-gray-40 bg-secondary"><img src="/images/google-button.svg" alt="google" class="mr-2 inline align-middle"> Sign up with google</button>
                    <p class="text-center">or</p>
                </div>
                <form action="/user/register" method="post" class="mx-auto mt-4 mb-0 max-w-xs space-y-4">
                    <div class="w-full rounded-lg border-gray-50 border-[1px] p-3 text-sm text-gray-40 shadow-md focus-within:border-primary-50 focus:outline-none bg-secondary flex items-center justify-between">
                        <label for="First name" class="sr-only">First name</label>
                        <input
                        type="text"
                        class="text-gray-40 focus-visible:outline-none w-11/12 bg-secondary"
                        placeholder="First name"
                        name="firstName"
                        />
                    </div>
        
                    <div class="w-full rounded-lg border-gray-50 border-[1px] p-3 text-sm text-gray-40 shadow-md focus-within:border-primary-50 focus:outline-none bg-secondary flex items-center justify-between">
                      <label for="Last name" class="sr-only">Last name</label>
                      <input
                          type="text"
                          class="text-gray-40 focus-visible:outline-none w-11/12 bg-secondary"
                          placeholder="Last name"
                          name="lastName"
                      />
                    </div>
            
                    <div class="w-full rounded-lg border-gray-50 border-[1px] p-3 text-sm text-gray-40 shadow-md focus-within:border-primary-50 focus:outline-none bg-secondary flex items-center justify-between">
                      <label for="email" class="sr-only">Email</label>
                      <input
                          type="email"
                          class="text-gray-40 focus-visible:outline-none w-11/12 bg-secondary"
                          placeholder="Email"
                          name="email"
                      />
                    </div>
            
                    <div class="w-full rounded-lg border-gray-50 border-[1px] p-3 text-sm text-gray-40 shadow-md focus-within:border-primary-50 focus:outline-none bg-secondary flex items-center justify-between">
                      <label for="passworrd" class="sr-only">First name</label>
                      <input
                          type="password"
                          class=" text-gray-40 focus-visible:outline-none w-11/12 bg-secondary"
                          placeholder="Password"
                          name="password"
                          id="password"
                      />

                      <div onclick="togglePasswordVisibility()">
                        <i class="fa-regular fa-eye" ></i> 
                        <!-- <i class="fa-regular fa-eye-slash"></i> -->
                      </div>
                      
                    </div>

                    <div class="form-errors">
                      <% if (false) { %>
                        <p class="text-error font-semibold text-sm">Password must be up to 7 characters</p>
                        <h2><%= user.name %></h2>
                      <% } else { %>
                        <p class="text-gray-40 font-semibold text-sm"><i class="fa-solid fa-circle-check pr-2"></i> Password must be up to 7 characters</p>
                      <% }%>
                    </div>
                    
                    <p class="text-body font-light">By signing up, you agree to the <a href="#" class="text-primary-60">Terms of Service</a> and <a href="#" class="text-primary-60">Privacy Policy</a>.</p>
                    <div>
                        <button type="submit" class="w-full rounded-lg border-primary-50 border-[1px] text-center p-3 text-md font-bold text-white shadow-sm bg-primary-50">Sign up</button>
                    </div>
                    <p class="font-light text-lg">Already have an account? <a href="/user/login" class="text-primary-60">Sign in</a></p>

                </form>
            </div>
        
            <div class="relative  w-full sm:h-96 lg:h-full lg:w-1/2">
                <img alt="Welcome" src="/images/reg-banner.png" />
            </div>
        </section>

        <script>
          function togglePasswordVisibility() {
              var password = document.getElementById("password");
              if (password.type === "password") {
                password.type = "text";
              } else {
                password.type = "password";
              }
            }
        </script>
  
    </body>
</html>
  