<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RESET PASSWORD</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/faviconfavicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/images/favicon/site.webmanifest">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body class="bg-secondary">
        <header class="flex justify-start items-center py-2 px-6 bg-primary-60">
            <div class="flex space-x-1">
                <a href="/">
                    <img alt="consuelo-logo" src="/images/logo.png"/>
                </a>
                <h1 class="px-2 text-white font-bold text-lg">
                    Consuelo
                </h1>
            </div>
        </header>

        <section class="flex flex-wrap text-body lg:items-center ">
            <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8">
                <div class="mx-auto max-w-xs space-y-4">
                    <h1 class="font-semibold text-2xl text-primary-60">Forgot password</h1>
                    <p class="font-thin">Input your new desired password in the input fields below to create a new password.</p>
                </div>
                <form action="/" class="mx-auto mt-4 mb-0 max-w-xs space-y-4">
                    <div>
                        <label for="email" class="sr-only">Email</label>
                        <input
                            type="email"
                            class="w-full rounded-lg border-gray-50 border-[1px] p-3 pr-12 text-sm shadow-sm text-gray-40 focus-visible:outline-primary-50 focus-visible:border-primary-50 bg-secondary"
                            placeholder="Email"
                            name="email"
                        />
                    </div>
                    <div>
                        <button type="submit" class="w-full txt-center rounded-lg border-primary-50 border-[1px] p-3 text-md font-bold text-white shadow-sm bg-primary-50">Request password change</button>
                    </div>
                
                </form>

                <form action="" class="mx-auto mt-4 mb-0 max-w-xs space-y-4">
                    <div>
                        <label for="passworrd" class="sr-only">First name</label>
                        <input
                            type="password"
                            class="w-full rounded-lg border-gray-50 border-[1px] p-3 pr-12 text-sm shadow-sm text-gray-40 focus-visible:outline-primary-50 focus-visible:border-primary-50 bg-secondary"
                            placeholder="Password"
                            name="password1"
                        />
                    </div>
                    <div>
                        <label for="passworrd" class="sr-only">First name</label>
                        <input
                            type="password"
                            class="w-full rounded-lg border-gray-50 border-[1px] p-3 pr-12 text-sm shadow-sm text-gray-40 focus-visible:outline-primary-50 focus-visible:border-primary-50 bg-secondary"
                            placeholder="Confirm password"
                            name="password2"
                        />
                    </div>

                    <div>
                        <button type="submit" class="w-full txt-center rounded-lg border-primary-50 border-[1px] p-3 text-md font-bold text-white shadow-sm bg-primary-50">Reset password</button>
                    </div>
                
                </form>

                <div class="flex-col items-center mx-auto mt-4 mb-0 max-w-xs space-y-4 text-primary-60">
                    <h1 class="font-semibold text-2xl">Success</h1>
                    <i class="fa-regular fa-circle-check fa-4x"></i>
                    <p class="font-thin text-body">Your password has been reset successfully</p>
                    <button type="submit" class="w-full txt-center rounded-lg border-primary-50 border-[1px] p-3 text-md font-bold text-white shadow-sm bg-primary-50">Sign in</button>
                </div>
            </div>
        
            <div class="relative  w-full sm:h-96 lg:w-1/2">
                <img
                    alt="Welcome"
                    src="/images/reg-ba0nner.png"
                />
            </div>
        </section>
  
    </body>
</html>
  