@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Iconsax-Size:20px;
}

.main-nav .iconsax {
  --Iconsax-Color:#FFF;
}

.nav-active .iconsax {
  --Iconsax-Color:#2C6E49;
}

html {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.poppins {
  font-family: 'Poppins', sans-serif;

}


.nav-active {
  @apply bg-primary-10 border-l-8 border-solid border-l-primary-70 text-primary-60;
}

.main-nav > *:hover {
  @apply nav-active ease-in-out duration-300
}

.line1-style {
  @apply bg-white rotate-45 translate-y-1
}
.line3-style {
  @apply bg-white -rotate-45 -translate-y-2 
}

.hamburger-pos {
  @apply fixed right-4 z-50
}
.screen{
  @apply translate-x-full
}