<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404!</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//glenthemes.github.io/iconsax/geticons.js"></script>
    <link href="//glenthemes.github.io/iconsax/style.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="bg-secondary">
    <!-- component -->
    <div class="flex flex-row min-h-screen">
      <aside class="sidebar fixed w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-indigo-500">
        <!-- sidebar header  -->
        <div
          class="flex h-screen flex-col border-r bg-primary-60 text-white static"
        >
          <div class="sidebar-header flex space-x-1 px-4 py-4">
            <a href="/user/home">
              <img alt="consuelo-logo" src="/images/logo.png" />
            </a>
            <h1 class="px-2 text-white font-bold text-lg">Consuelo</h1>
          </div>

          <!-- sidebar -->
          <nav
            aria-label="Main Nav"
            class="main-nav mt-20 flex flex-col space-y-2 w-full"
          >
            <a
              href="/user/home"
              class="flex items-center px-4 py-3"
            >

              <i class="iconsax" icon-name="layout-2"></i>
              <span class="ml-3 text-sm font-medium"> Home </span>
            </a>

            <a
              href="/user/self-affirmation"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="document-sketch"></i>
              <span class="ml-3 text-sm font-medium"> Self Affirmation </span>
            </a>

            <a
              href="/user/mental-health-tips"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="message-dots-notif"></i>
              <span class="ml-3 text-sm font-medium"> Mental Health Tips </span>
            </a>

            <a
              href="/user/forum"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="group"></i>
              <span class="ml-3 text-sm font-medium"> Forum </span>
            </a>

            <a
              href="/user/blog"
              class="flex items-center px-4 py-3"
            >
            <i class="iconsax" icon-name="document-text-1"></i>
              <span class="ml-3 text-sm font-medium"> Blog </span>
            </a>

            <a href="/user/meet-a-therapist" class="flex items-center px-4 py-3">
              <i class="iconsax" icon-name="message-dash-1"></i>
              <span class="ml-3 text-sm font-medium"> Meet a therapist </span>
            </a>
            
            <a
              href="/user/logout"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="logout-1"></i>
              <span class="ml-3 text-sm font-medium"> Logout </span>
            </a>
          </nav>
        </div>
      </aside>

      <main class="main flex flex-col flex-grow md:ml-64 transition-all duration-150 ease-in bg-[#EFF3F6]" >
        <div class="grid place-items-center gap-3">
          <img src="/images/404.png" alt="unknown resource">
          
          <a href="/user/home" class="w-full text-center border-primary-50 border-[1px] p-3 text-md text-white shadow-sm bg-primary-50 max-w-xs" >
            Go Back
          </a>
        </div>
      </main>
    </div>
  </body>
</html>
