<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>About Us</title>
     <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
     <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
     <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png"/>
     <link rel="manifest" href="/images/favicon/site.webmanifest" />
     
     <link rel="stylesheet" href="/css/main.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

     <div class="bg-gradient-to-r from-[#46A972] to-[#225A3B] text-white py-5">
          <header class="bg-gradient-to-r from-[#46A972] to-[#225A3B]">
               <nav class="border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
                    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                         <a href="/" class="flex items-center">
                              <img alt="consuelo-logo" src="/images/logo.png" class="mr-3 h-6 sm:h-9" />
                              <h1 class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Consuelo</h1>
                         </a>
                       
                         <div class="md:hidden hamburger-menu w-[35px] h-[24px] flex flex-col justify-center cursor-pointer">
                           <div class="hamburger-menu_1 mb-1  w-6 h-[2px] transition-all duration-150 ease-in bg-white"></div>
                           <div class="hamburger-menu_2 w-6 h-[2px] transition-all duration-150 ease-in bg-white"></div>
                           <div class="hamburger-menu_3 mt-1 w-6 h-[2px] transition-all duration-150 ease-in bg-white"></div>
                         </div>
           
                         <div class="navbar fixed z-40 left-0 right-0 bottom-0 w-1/2 h-[100vh] transition-all duration-500 translate-x-[200%] md:-translate-x-0 md:static md:h-auto justify-between items-center md:flex md:w-auto bg-[#225A3B] md:bg-opacity-0" id="mobile-menu-2">
                              <ul class="flex flex-col mt-20 font-medium md:flex-row items-center md:space-x-8 md:mt-0">
                              
                                   <li>
                                        <a href="/#features" class="features__link block hover:underline pt-6 md:pt-0">Features</a>
                                   </li>
                                   <li>
                                        <a href="/about" class="block hover:underline pt-6 md:pt-0">About Us</a>
                                   </li>
                                   <li>
                                        <a href="/blog" class="block hover:underline pt-6 md:pt-0">Blog</a>
                                   </li>
                                   <li>
                                        <a href="/user/login" class="block bg-white text-primary-60 justify-center items-center py-2 px-3 text-base font-semibold text-center rounded-sm mt-6 md:mt-0">Sign Up</a>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </nav>
           
          </header>

          <section class="lg:bg-[url('/images/hand-drawn.svg')] bg-no-repeat bg-right-bottom">
               <div class="py-10 mx-auto max-w-screen-xl text-center lg:py-40">
                    <h1 class="mb-4 text-3xl font-bold leading-none md:text-4xl xl:text-5xl">She who brings consolation</h1>
               </div>
          </section>
     </div>

     <!-- How it works -->
     <section class="bg-white">
          <div class="pt-8 lg:pt-16">
            <div class="flex justify-center">
                <img src="/images/team.png" alt="team" class="object-contain">
            </div>

            <div class="lg:flex justify-between pt-6 px-4 mx-auto max-w-screen-xl lg:pt-16 lg:pb-4 lg:px-6">
                <div class="lg:w-[43%] flex flex-col justify-center items-center lg:block text-center lg:text-start max-w-[40rem] mx-auto">
                    <h2 class="mb-4 text-3xl lg:text-4xl font-bold text-primary-60">Who We Are</h2>
                    <p class="md:text-[1.25rem] leading-8">To begin with, suicidal thoughts are these gentle whispers that clog 
                        your mind leaving you almost helpless. Hey! not to worry, we have 
                        highlighted critical steps you can take to deal with these thoughts. 
                        According to the Centers for Disease Control and Prevention (CDC) WISQARS, 
                        suicide is the second leading cause of death among individuals between the ages 
                        of 10–14 and 25–34. Shocking right? It even ranks higher than accidents. 
                    </p>
                </div>
                <div class="lg:w-[43%] lg:flex flex-col justify-between mt-6 lg:mt-0 text-center lg:text-start max-w-[40rem] mx-auto">
                    <div class="">
                        <h2 class="mb-4 text-3xl lg:text-4xl font-bold text-primary-60">Our Vision</h2>
                        <p class="md:text-[1.25rem] leading-8">
                            To begin with, suicidal thoughts are these gentle whispers 
                            that clog your mind leaving you almost helpless. 
                        </p>
                    </div>
                    <div class="mt-6 lg:mt-0">
                        <h2 class="mb-4 text-3xl lg:text-4xl font-bold text-primary-60">Our Mission</h2>
                        <p class="md:text-[1.25rem] leading-8">
                            To begin with, suicidal thoughts are these gentle whispers 
                            that clog your mind leaving you almost helpless. 
                        </p>
                    </div>
                </div>
            </div>
          </div>

     </section>
        
     <!-- OUR TEAM -->
     <section class="bg-white">
          <div class=" items-center py-6 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
               <div class="font-light text-gray-500 sm:text-lg text-center max-w-xl mx-auto">
                    <h2 class="mb-4 text-3xl lg:text-4xl font-bold ">Meet Our Team</h2>
                    <p class="mb-4">Our philosophy is simple — hire a team of diverse, passionate people and foster a culture that empowers you to do you best work.</p>
               </div>
               <div class="text-center grid lg:grid-cols-4 place-items-center">
                    <div class="overflow-hidden rounded-lg shadow-sm">
                         <img alt="hassanat-ceo" src="/images/hassanat.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Hassanat Abubakar </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> CEO </p>
                         </div>
                    </div>

                    <div class="overflow-hidden rounded-lg  shadow-sm">
                         <img alt="hassanat-ceo" src="/images/posi.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Olamiposi Oluwasexy </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> Product Manager </p>
                         </div>
                    </div>

                    <div class="overflow-hidden rounded-lg shadow-sm">
                         <img alt="hassanat-ceo" src="/images/danny.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Danny Ombeh </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> Product Designer </p>
                         </div>
                    </div>

                    <div class="overflow-hidden rounded-lg shadow-sm">
                         <img alt="hassanat-ceo" src="/images/hassan.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Hassan Yahya </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> Software Engineer </p>
                         </div>
                    </div>
   
               </div>
          </div>
     </section>

     <!-- Footer -->
     <footer class="p-6 lg:px-4 lg:py-16 bg-[#2C6E49] text-white">
          <div class="mx-auto max-w-screen-xl">
               <div class="md:flex md:justify-between">
                    <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                         <div>
                         <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Main</h2>
                         <ul class="text-gray-600 dark:text-gray-400">
                              <li class="mb-4">
                                   <a href="/" class="hover:underline">FAQs</a>
                              </li>
                              <li class="mb-4">
                                   <a href="/" class="hover:underline">Support</a>
                              </li>
                              <li class="mb-4">
                                   <a href="/about" class="hover:underline">About Us</a>
                              </li>
                         </ul>
                         </div>
                         <div>
                              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Products</h2>
                              <ul class="text-gray-600 dark:text-gray-400">
                                   <li class="mb-4">
                                        <a href="/user/login" class="hover:underline ">Login</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="/#testimonials" class="hover:underline">Testimonials</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="/#features" class="hover:underline">Features</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="" class="hover:underline">Mission</a>
                                   </li>
                              </ul>
                         </div>
                         <div>
                              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Press</h2>
                              <ul class="text-gray-600 dark:text-gray-400">
                                   <li class="mb-4">
                                        <a href="/blog" class="hover:underline">Blog</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                                   </li>
                              </ul>
                         </div>
                    </div>

                    <div class="mb-6 md:mb-0">
                         <div class="text-left lg:text-center sm:text-left md:col-span-4 lg:col-span-2">
                              <p class="text-lg font-medium uppercase">Subscribe to our newsletter</p>
                      
                              <div class="mx-auto mt-8 max-w-md sm:ml-0">
                                <p class="text-center leading-relaxed text-gray-500 sm:text-left">
                                   We share positive notes, mental health tips, stories, and
                                   practical advice directly to your inbox.
                                </p>
                      
                                <form class="mt-4">
                                  <div class="flex justify-start items-center font-semibold">
                                    <label for="email" class="sr-only">Email</label>
                                    <input class="w-full border-gray-200 px-6 py-3 shadow-sm text-black" type="email" placeholder="Your email address" />
                      
                                    <button class="block bg-primary-100 px-8 py-3 text-white transition max-w-xs" type="submit" >
                                      Subscribe
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                    </div>
          
          <div class="mx-auto max-w-screen-xl">

               <hr class="my-6 border-x-white sm:mx-auto lg:my-8" />
               <div class="flex flex-col md:flex-row items-center justify-between">
                    <div href="/" class="flex items-center">
                         <img alt="consuelo-logo" src="/images/logo.png" class="mr-3 h-6 sm:h-9" />
                         <h1 class="self-center text-xl font-semibold whitespace-nowrap">Consuelo</h1>
                    </div>
                
                    <span class="text-sm mt-4 md:mt-0 text-gray-500 sm:text-center dark:text-gray-400">
                         &copy; 2022 <a href="/" class="hover:underline">Consuelo</a>. 
                         All Rights Reserved.
                    </span>
                
                    <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0 text-3xl">
                         <a href="https://twitter.com/yourconsuelo" target="_blank" class="text-gray-500"> 
                              <i class="fa-brands fa-twitter"></i> 
                         </a>
                         <a href="https://instagram.com/yourconsuelo" target="_blank" class="text-gray-500">
                              <i class="fa-brands fa-instagram"></i>
                         </a>
                                              
                         <a href="#" target="_blank" class="text-gray-500" >
                              <i class="fa-brands fa-linkedin"></i>
                         </a>
                    </div>
               </div>
          </div>
     </div>
     </footer>

     <!-- Overlay -->
     <div class="overlay hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 transition-all duration-500 ease-in-out z-30"></div>            
          
     <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
     <script src="/js/navBar.js"></script>

</body>
</html>