<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>THE CONSUELO ~</title>
     <link rel="stylesheet" href="/css/main.css">
     <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
     <link rel="manifest" href="/images/site.webmanifest">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-secondary">
    

<!-- component -->
<div class="flex flex-row min-h-screen ">
  <aside class="sidebar w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-indigo-500"
  >

    <!-- sidebar header  -->
    <div class="flex h-screen flex-col border-r bg-primary-60 text-white static">
      <div class="sidebar-header flex space-x-1 px-4 py-4">
        <a href="/user/home">
            <img alt="consuelo-logo" src="/images/logo.png"/>
        </a>
        <h1 class="px-2 text-white font-bold text-lg">
            Consuelo
        </h1>
    </div>

    <!-- sidebar -->
    <nav aria-label="Main Nav" class="main-nav mt-20 flex flex-col space-y-2 w-full">
      <a href="/user/home" class="flex items-center px-4 py-3 bg-primary-10 border-l-8 border-solid border-l-primary-70 text-primary-60" >
        <!-- <i class="fa-solid fa-house-chimney"></i> -->
        <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>


        <span class="ml-3 text-sm font-medium"> Home </span>
      </a>

      <a href="/user/self-affirmation" class="flex items-center px-4 py-3 transition-all">
        <i class="fa-solid fa-house-chimney"></i>
        <span class="ml-3 text-sm font-medium"> Self Affirmation </span>
      </a>

      <a href="/user/mental-health-tips" class="flex items-center px-4 py-3 transition-all" >
        <i class="fa-solid fa-house-chimney"></i>
        <span class="ml-3 text-sm font-medium"> Mental Health Tips </span>
      </a>

      <a href="/user/forum" class="flex items-center px-4 py-3 transition-all" >
        <i class="fa-solid fa-house-chimney"></i>
        <span class="ml-3 text-sm font-medium"> Forum </span>
      </a>

      <a href="/user/music" class="px-4 py-3 transition-all" >
        <i class="fa-solid fa-music"></i>
        <span class="ml-3 text-sm font-medium"> Music </span>
      </a>
      <a href="/user/blog" class="flex items-center px-4 py-3 transition-all" >
        <i class="fa-solid fa-house-chimney"></i>
        <span class="ml-3 text-sm font-medium"> Blog </span>
      </a>
      <a ref="/user/logout" class="flex items-center px-4 py-3 transition-all">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="ml-3 text-sm font-medium"> Logout </span>
      </a>

    
    </nav>
    
    </div>
  </aside>
  <main class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in bg-[#EFF3F6]">
    <header class="header bg-white shadow p-4 flex justify-between items-center">
      <div>
        <h1 class="text-xl">Welcome back, Hassy 💚</h1>
        <p>Your feelings are welcome here</p>
      </div>

      <div class="flex items-center space-x-3">
        <i class="fa-regular fa-bell"></i>

        <span class="flex gap-2 border-2 border-solid rounded-2xl px-2 py-1 hover:cursor-pointer">
          <i class="fa-regular fa-user"></i>

          <i class="fa-solid fa-angle-down"></i>
        </span>
      </div>
        
    </header>


    <div class="main-content p-4 flex justify-between">
          <div class="max-w-3xl">
            <div class="max-w-sm w-full lg:max-w-full lg:flex">
              <div class="">
              </div>
              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                <div class="mb-8">
                  <div class="text-gray-900 font-bold text-xl mb-2">Can coffee make you a better developer?</div>
                  <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
                </div>
                <div class="flex items-center">
                  <img class="w-10 h-10 rounded-full mr-4" src="/img/jonathan.jpg" alt="Avatar of Jonathan Reinink">
                  <div class="text-sm">
                    <p class="text-gray-900 leading-none">Jonathan Reinink</p>
                    <p class="text-gray-600">Aug 18</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          <div class="bg-white max-w-xs">
            <p>Trending playlist</p>
            <div class="flex flex-col">
              <div>
                <div>
                  <img src="/images/saphire-blue.png" alt="saphire blue">
                </div>
                <div>
                  <p>Sapphire blue</p>
                  <p>16 songs</p>
                  <div class="flex">
                    <p>sad</p>
                    <p>chill</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>

          </div>
       

        <section class="hidden grid-cols-2 gap-3 place-items-center">
          <div class="space-y-2">
              <button class="text-white bg-primary-50 rounded-sm w-32 mx-auto p-1">Button <i class="fa-solid fa-angle-right"></i></button>
              <button class="text-white bg-primary-70 rounded-sm w-32 mx-auto p-1">Button <i class="fa-solid fa-angle-right"></i></button>
          </div>
  
          <div class="space-y-2">
              <button class="text-white bg-primary-50 rounded-sm w-32 mx-auto p-1">Button </button>
              <button class="text-white bg-primary-70 rounded-sm w-32 mx-auto p-1">Button </button>
          </div>
  
          <div class="space-y-2">
              <button class="text-primary-50 border-primary-50 border-2 border-solid rounded-sm w-32 mx-auto p-1">Button </button>
              <button class="text-primary-50 border-primary-50 border-2 border-solid rounded-sm w-32 mx-auto p-1">Button </button>
          </div>
  
          <div class="space-y-2">
              <button class="text-primary-50 border-primary-50 border-2 border-solid rounded-sm w-64 mx-auto p-1">Button </button>
              <button class="text-primary-50 border-primary-50 border-2 border-solid rounded-sm w-64 mx-auto p-1">Button </button>
          </div>
  
          <div class="space-y-2">
              <button class="text-white bg-primary-50 rounded-sm w-64 mx-auto p-1">Button </button>
              <button class="text-white bg-primary-70 rounded-sm w-64 mx-auto p-1">Button </button>
          </div>
  
          <div class="">
              <label for="UserEmail" class="block text-xs font-medium text-gray-700">
                Email
              </label>
            
              <input
                type="email"
                id="UserEmail"
                placeholder="example@rhcp.com"
                class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm border-primary-90 border-solid border-2"
              />
            </div>
          </section>
         
    </div>




    <footer class="footer px-4 py-6">
      <div class="footer-content">
        <p class="text-sm text-gray-600 text-center">© Brandname 2020. All rights reserved. <a href="https://twitter.com/iaminos">by iAmine</a></p>
      </div>
    </footer>
  </main>
</div>
        
    
</body>
</html>