<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>THE CONSUELO ~</title>
     <link rel="stylesheet" href="/css/main.css">
     <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
     <link rel="manifest" href="/images/site.webmanifest">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-secondary">
    
    <!-- header nav -->
    <header class="flex justify-between items-center py-2 px-6 bg-primary-60">
        <div class="flex space-x-1">
            <a href="/">
                <img alt="consuelo-logo" src="/images/logo.png"/>
            </a>
            <h1 class="px-2 text-white font-bold text-lg">
                Consuelo
            </h1>
        </div>
        <div class="flex space-x-2">
            <p><i class="fa-regular fa-bell text-secondary"></i></p>
            <p><i class="fas fa-user-circle text-secondary"></i></p>
        </div>
    </header>

    <div class="flex">
        <section class="border-r-2 border-primary-40 border-solid w-40">
            <nav class="my-4 ml-2">
                <ul class="flex flex-col justify-between items-stretch space-y-4" >
                    <li class=" bg-primary-10 border-l-4 border-primary-70 p-2 "><a href="/" class="text-body"><i class="fa-solid fa-house text-icon"></i> Home</a></li>
                    <li class="p-2 "><a href="/" class="text-body"><i class="fa-solid fa-house text-icon"></i> Home</a></li>
                    <li class="p-2 "><a href="/" class="text-body"><i class="fa-solid fa-house text-icon"></i> Home</a></li>
                    <li class="p-2 "><a href="/" class="text-body"><i class="fa-solid fa-house text-icon"></i> Home</a></li>
                    <li class="p-2 "><a href="/" class="text-body"><i class="fa-solid fa-house text-icon"></i> Home</a></li>
                    <li class="p-2 "><a href="/" class="text-body"><i class="fa-solid fa-house text-icon"></i> Home</a></li>
                </ul>
            </nav>
        </section>
        <section class="grid grid-cols-3 gap-3 place-items-center">
            <div class="space-y-2">
                <button class="text-white bg-primary-50 rounded-sm w-32 mx-auto p-1">Button <i class="fa-solid fa-angle-right"></i></button>
                <button class="text-white bg-primary-70 rounded-sm w-32 mx-auto p-1">Button <i class="fa-solid fa-angle-right"></i></button>
            </div>

            <div class="space-y-2">
                <button class="text-white bg-primary-50 rounded-sm w-32 mx-auto p-1">Button </button>
                <button class="text-white bg-primary-70 rounded-sm w-32 mx-auto p-1">Button </button>
            </div>

            <div class="space-y-2">
                <button class="text-primary-50 border-primary-50 border-2 border-solid rounded-sm w-32 mx-auto p-1">Button </button>
                <button class="text-primary-50 border-primary-50 border-2 border-solid rounded-sm w-32 mx-auto p-1">Button </button>
            </div>

            <div class="space-y-2">
                <button class="text-primary-50 border-primary-50 border-2 border-solid rounded-sm w-64 mx-auto p-1">Button </button>
                <button class="text-primary-50 border-primary-50 border-2 border-solid rounded-sm w-64 mx-auto p-1">Button </button>
            </div>

            <div class="space-y-2">
                <button class="text-white bg-primary-50 rounded-sm w-64 mx-auto p-1">Button </button>
                <button class="text-white bg-primary-70 rounded-sm w-64 mx-auto p-1">Button </button>
            </div>

            <div class="">
                <label for="UserEmail" class="block text-xs font-medium text-gray-700">
                  Email
                </label>
              
                <input
                  type="email"
                  id="UserEmail"
                  placeholder="example@rhcp.com"
                  class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm border-primary-90 border-solid border-2"
                />
              </div>
        </section>

    </div>
    <!-- sidebar nav -->


    
</body>
</html>