<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>WELCOME | CONSUELO</title>
     <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
     <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
     <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png"/>
     <link rel="manifest" href="/images/favicon/site.webmanifest" />
     
     <link rel="stylesheet" href="/css/main.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

     <div class="bg-gradient-to-r from-[#46A972] to-[#225A3B] text-white py-5">
          <header>
               <nav class="border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
                    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                         <a href="/user/home" class="flex items-center">
                              <img alt="consuelo-logo" src="/images/logo.png" class="mr-3 h-6 sm:h-9" />
                              <h1 class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Consuelo</h1>
                         </a>
                         <div class="flex items-center">
                              
                              <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
                              <span class="sr-only">Open main menu</span>
                              <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                              <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                              </button>
                         </div>
                         <div class="hidden justify-between items-center w-full lg:flex lg:w-auto" id="mobile-menu-2">
                              <ul class="flex flex-col mt-4 font-medium lg:flex-row items-center lg:space-x-8 lg:mt-0">
                              
                              <li>
                                   <a href="#" class="block ">Features</a>
                              </li>
                              <li>
                                   <a href="#" class="block">About Us</a>
                              </li>
                              <li>
                                   <a href="#" class="block ">Blog</a>
                              </li>
                              <li>
                                   <a href="/user/register" class="block bg-white text-primary-60 justify-center items-center py-2 px-6 text-base font-semibold text-center rounded-sm">Sign Up</a>
                              </li>
                              </ul>
                         </div>
                    </div>
               </nav>

          </header>
          <section class="">
               <div class="grid py-10 mx-auto max-w-screen-xl lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
                    <div class="place-self-center mr-auto lg:col-span-7">
                         <h1 class="mb-4 max-w-2xl text-4xl font-extrabold leading-none md:text-5xl xl:text-6xl">Affordable health care for everyone</h1>
                         <p class="mb-6 max-w-2xl font-normal text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Your alternative to therapy to improve your mental health and growth.</p>
                         
                         <a href="#" class="inline-flex bg-white text-primary-60 justify-center items-center py-3 px-6 text-base font-semibold text-center rounded-md">
                              Get Started
                         </a> 
                    </div>
                    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex justify-end">
                         <div class="border-white border-2 rounded-2xl py-2 max-w-md">
                              <img src="/images/mental-health-bro.png" alt="mockup" class="-ml-10">
                         </div>
                    </div>                
               </div>
          </section>
     </div>


     <section class="bg-white">
          <div class="py-8 lg:py-16">
               <h2 class="text-4xl font-bold mb-3 tracking-tight leading-tight text-center md:text-3xl">Our <span class="text-primary-60">amazing</span> features </h2>
               <p class="text-center">...providing solace and comfort to our users at scale.</p>
               
               <div class="mx-auto max-w-screen-2xl py-12">
                    <div class="flex justify-between items-center pl-4 lg:pl-24">
                         <nav class="flex flex-col border-l-2 border-[#F2F4F7] ">
                              <div class="-ml-px border-l-2 border-primary-60 p-4 max-w-lg">
                                   <a href="" class="font-semibold text-primary-60 mb-2">
                                        Self Affirmation
                                   </a>
                                   <p>Self-affirmations to help you stay motivated everyday.</p>
                              </div>
                         
                              <div class="-ml-px  border-transparent p-4 max-w-lg">
                                   <a href="" class="font-semibold text-primary-60 mb-2">
                                        Mental Health Tips
                                   </a>
                                   <p>Everyday tips to elevate your mental well-being</p>
                              </div>
                         
                              <div class="-ml-px  border-transparent p-4 max-w-lg">
                                   <a href="" class="font-semibold text-primary-60 mb-2">
                                        Blog Post
                                   </a>
                                   <p>Our blog features different perspectives and insights on mental health issues and topics.</p>
                              </div>
                         
                              <div class="-ml-px border-transparent p-4 max-w-lg">
                                   <a href="" class="font-semibold text-primary-60 mb-2">
                                        Forum Community
                                   </a>
                                   <p>Our forum is created to help you Feel. Feel connected, accepted, and supported. Come around the forum every time you feel alone.</p>
                              </div>
                         
                              <div class="-ml-px border-transparent p-4 max-w-lg">
                                   <a href="" class="font-semibold text-primary-60 mb-2">
                                        Meet a Therapist
                                   </a>
                                   <p>A step towards wellness; get care from the people who care.</p>
                              </div>
                         
                              
                         </nav>

                         <div class="">
                              <img alt="House" src="/images/macbook-laptop.png" class="max-w-xl"/>
                         </div>
                    </div>
               </div>

               <div class="flex justify-center">
                    <a href="#" class="inline-flex bg-primary-60 text-white justify-center items-center py-3 px-12 text-base text-center rounded-sm">
                         Get Started
                    </a> 
               </div>
          </div>
     </section>
                

     <section class="bg-[#2C6E49] text-white">
          <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:items-center" >
            <div class="mx-auto text-center">
              <h1 class="max-w-lg mx-auto font-extrabold text-3xl">
               We believe  evidence is a duty, not a chore
              </h1>
        
              <p class="mt-4 sm:text-xl sm:leading-relaxed">
               We’ve been using Untitled to kick start every new project and can’t imagine working without it. We’ve been using Untitled to kick start every new project and can’t imagine working without it.
              </p>
        
              
            </div>
          </div>
     </section>

     <!-- OUR TEAM -->
     <section class="bg-white">
          <div class=" items-center py-6 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
               <div class="font-light text-gray-500 sm:text-lg text-center max-w-xl mx-auto">
                    <h2 class="mb-4 text-4xl font-bold ">Meet Out Team</h2>
                    <p class="mb-4">Our philosophy is simple — hire a team of diverse, passionate people and foster a culture that empowers you to do you best work.</p>
               </div>
               <div class="text-center grid lg:grid-cols-4">
                    <div class="overflow-hidden rounded-lg shadow-sm">
                         <img alt="hassanat-ceo" src="/images/hassanat.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Hassanat Abubakar </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> CEO </p>
                         </div>
                    </div>

                    <div class="overflow-hidden rounded-lg  shadow-sm">
                         <img alt="hassanat-ceo" src="/images/posi.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Olamiposi Oluwasexy </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> Product Manager </p>
                         </div>
                    </div>

                    <div class="overflow-hidden rounded-lg shadow-sm">
                         <img alt="hassanat-ceo" src="/images/danny.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Danny Ombeh </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> CEO </p>
                         </div>
                    </div>

                    <div class="overflow-hidden rounded-lg shadow-sm">
                         <img alt="hassanat-ceo" src="/images/hassan.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Hassan Abubakar </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> Software Engineer </p>
                         </div>
                    </div>
   
               </div>
          </div>
     </section>

     <!-- Testimonials -->
     <section class="bg-primary-60 text-white">
          <div class="py-8 px-4 mx-auto max-w-screen-xl h-screen lg:py-16 lg:px-6">
               <h2 class="mb-4  text-2xl font-bold">Hear from our <span class="font-extrabold">users</span> </h2>
                    
               <div class="grid place-items-center lg:grid-cols-2 h-full">
                    <div class="flex">
                         <a href="/" class=" left-3">
                              <img src="/images/user-8.png" alt="user">
                         </a>
                         <a href="/" class=" top-3 right-5">
                              <img src="/images/user-4.png" alt="user">
                         </a>
                         <a href="/" class=" top-3 right-5">
                              <img src="/images/user-5.png" alt="user">
                         </a>
                         <a href="/" class=" top-3 right-5">
                              <img src="/images/user-3.png" alt="user">
                         </a>
                         <a href="/" class=" top-3 right-5">
                              <img src="/images/user-2.png" alt="user">
                         </a>
                         <a href="/" class=" top-3 right-5">
                              <img src="/images/user-6.png" alt="user">
                         </a>
                         <a href="/" class=" top-3 right-1">
                              <img src="/images/user-1.png" alt="user">
                         </a>
                         <a href="/" class=" top-3 right-7">
                              <img src="/images/user-7.png" alt="user">
                         </a>
                    </div>
                    
                    <div class="text-center grid place-items-center relative">
                         <i class="fa-solid fa-quote-left text-[#52B17C] text-4xl absolute top-0 left-0"></i>
                         <div>
                              <h3 class="text-xl font-semibold sm:text-2xl">
                                   I loved using Consuelo, it helped me through my problems and now I’m healed
                              </h3>
                              
                              <footer class="mt-8 text-gray-500">Grace Alojore</footer>
                         </div>
                         <i class="fa-solid fa-quote-right absolute text-[#52B17C] text-4xl right-0 bottom-0"></i>
                    </div>
               </div>
                       
          </div>
     </section>

     <!-- Blog -->
     <section class="bg-white dark:bg-gray-900">
          <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
               <h2 class="mb-4 text-4xl font-bold ">Read Our Latest</h2>
               
               <div class="grid gap-4 lg:grid-cols-3">
                    <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
                         <img alt="blog img" src="/images/blog-smile.png" class="h-56 w-full object-cover" />
                    
                         <div class="bg-white p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="mt-0.5 text-lg text-gray-900">
                                        Smiling through the hardship
                                   </h3>
                              </a>
                         
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus pariatur animi olore sed nulla ipsum eveniet corporis quidem,lpa eius atque dignissimos. Molestias explicabo corporis voluptatem?
                              </p>

                              <p class="block text-sm text-gray-500 mt-2"> blog / 3 mins read</p>
                         </div>
                    </article>

                    
                    <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
                         <img alt="blog img" src="/images/blog-smile.png" class="h-56 w-full object-cover" />
                    
                         <div class="bg-white p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="mt-0.5 text-lg text-gray-900">
                                        Smiling through the hardship
                                   </h3>
                              </a>
                         
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus pariatur animi olore sed nulla ipsum eveniet corporis quidem,lpa eius atque dignissimos. Molestias explicabo corporis voluptatem?
                              </p>

                              <p class="block text-sm text-gray-500 mt-2"> blog / 3 mins read</p>
                         </div>
                    </article>

                    <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
                         <img alt="blog img" src="/images/blog-smile.png" class="h-56 w-full object-cover" />
                    
                         <div class="bg-white p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="mt-0.5 text-lg text-gray-900">
                                        Smiling through the hardship
                                   </h3>
                              </a>
                         
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus pariatur animi olore sed nulla ipsum eveniet corporis quidem,lpa eius atque dignissimos. Molestias explicabo corporis voluptatem?
                              </p>

                              <p class="block text-sm text-gray-500 mt-2"> blog / 3 mins read</p>
                         </div>
                    </article>


               </div>
          </div>
     </section>

     <!-- Footer -->
     <footer class="p-6 lg:px-4 lg:py-16 bg-[#2C6E49] text-white">
          <div class="mx-auto max-w-screen-xl">
               <div class="md:flex md:justify-between">
                    <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                         <div>
                         <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Main</h2>
                         <ul class="text-gray-600 dark:text-gray-400">
                              <li class="mb-4">
                                   <a href="/" class="hover:underline">FAQs</a>
                              </li>
                              <li class="mb-4">
                                   <a href="/" class="hover:underline">Support</a>
                              </li>
                              <li class="mb-4">
                                   <a href="/" class="hover:underline">About Us</a>
                              </li>
                         </ul>
                         </div>
                         <div>
                              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Products</h2>
                              <ul class="text-gray-600 dark:text-gray-400">
                                   <li class="mb-4">
                                        <a href="/user/login" class="hover:underline ">Login</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Testimonials</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Features</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Mission</a>
                                   </li>
                              </ul>
                         </div>
                         <div>
                              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Press</h2>
                              <ul class="text-gray-600 dark:text-gray-400">
                                   <li class="mb-4">
                                        <a href="#" class="hover:underline">Blog</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                                   </li>
                              </ul>
                         </div>
                    </div>

                    <div class="mb-6 md:mb-0">
                         <div class="text-center sm:text-left md:col-span-4 lg:col-span-2">
                              <p class="text-lg font-medium uppercase">Subscribe to our newsletter</p>
                      
                              <div class="mx-auto mt-8 max-w-md sm:ml-0">
                                <p class="text-center leading-relaxed text-gray-500 sm:text-left">
                                   We share positive notes, mental health tips, stories, and
                                   practical advice directly to your inbox.
                                </p>
                      
                                <form class="mt-4">
                                  <div class="flex justify-start items-center font-semibold">
                                    <label for="email" class="sr-only">Email</label>
                                    <input class="w-full border-gray-200 px-6 py-3 shadow-sm" type="email" placeholder="Your email address" />
                      
                                    <button class="block bg-primary-100 px-8 py-3 text-white transition" type="submit" >
                                      Subscribe
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                    </div>
          
          <hr class="my-6 border-x-primary-110 sm:mx-auto lg:my-8" />
          <div class="sm:flex sm:items-center sm:justify-between">
               <a href="/user/home" class="flex items-center">
                    <img alt="consuelo-logo" src="/images/logo.png" class="mr-3 h-6 sm:h-9 w-10" />
                    <h1 class="self-center text-xl font-semibold whitespace-nowrap">Consuelo</h1>
               </a>

               <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">&copy; 2022 <a href="/" class="hover:underline">Consuelo</a>. All Rights Reserved.
               </span>

               <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0 text-3xl">
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white"> 
                         <i class="fa-brands fa-facebook"></i> 
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                         <i class="fa-brands fa-twitter"></i>
                    </a>
                    
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                         <i class="fa-brands fa-youtube"></i>
                    </a>
               </div>
          </div>
     </div>
     </footer>
          
     <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</body>
</html>