<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>WELCOME | CONSUELO</title>
     <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
     <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
     <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png"/>
     <link rel="manifest" href="/images/favicon/site.webmanifest" />
     
     <link rel="stylesheet" href="/css/main.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

     <div class="bg-gradient-to-r from-[#46A972] to-[#225A3B] text-white py-5">
          <header class="bg-gradient-to-r from-[#46A972] to-[#225A3B]">
               <nav class="border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
                    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                         <a href="/" class="flex items-center">
                              <img alt="consuelo-logo" src="/images/logo.png" class="mr-3 h-6 sm:h-9" />
                              <h1 class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Consuelo</h1>
                         </a>
                       
                         <div class="md:hidden hamburger-menu w-[35px] h-[24px] flex flex-col justify-center cursor-pointer">
                           <div class="hamburger-menu_1 mb-1  w-6 h-[2px] transition-all duration-150 ease-in bg-white"></div>
                           <div class="hamburger-menu_2 w-6 h-[2px] transition-all duration-150 ease-in bg-white"></div>
                           <div class="hamburger-menu_3 mt-1 w-6 h-[2px] transition-all duration-150 ease-in bg-white"></div>
                         </div>
           
                         <div class="navbar fixed z-40 left-0 right-0 bottom-0 w-1/2 h-[100vh] transition-all duration-500 translate-x-[200%] md:-translate-x-0 md:static md:h-auto justify-between items-center md:flex md:w-auto bg-[#225A3B] md:bg-opacity-0" id="mobile-menu-2">
                              <ul class="flex flex-col mt-20 font-medium md:flex-row items-center md:space-x-8 md:mt-0">
     
                                   <li>
                                        <a href="#features" class="features__link block hover:underline pt-6 md:pt-0">Features</a>
                                   </li>
                                   <li>
                                        <a href="/about" class="block hover:underline pt-6 md:pt-0">About Us</a>
                                   </li>
                                   <li>
                                        <a href="/blog" class="block hover:underline pt-6 md:pt-0">Blog</a>
                                   </li>
                                   <li>
                                        <a href="/user/login" class="block bg-white text-primary-60 justify-center items-center py-2 px-3 text-base font-semibold text-center rounded-sm mt-6 md:mt-0">Sign Up</a>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </nav>
           
          </header>
          <section class="px-6 ">
               <div class="grid py-10 mx-auto max-w-screen-xl text-center lg:text-left lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
                    <div class="place-self-center mx-auto lg:col-span-7">
                         <h1 class="mb-4 max-w-2xl text-4xl font-extrabold leading-none md:text-5xl xl:text-6xl">Affordable mental healthcare for everyone</h1>
                         <p class="mb-6 max-w-2xl font-normal text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Your go-to solution to help improve your mental health and growth.</p>
                         
                         <a href="/user/register" class="inline-flex bg-white text-primary-60 justify-center items-center py-3 px-6 text-base font-semibold text-center rounded-md">
                              Get Started
                         </a> 
                    </div>
                    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex justify-end">
                         <div class="max-w-md">
                              <img src="/images/mental-health-bro.png" alt="mockup" class="-ml-10">
                         </div>
                    </div>                
               </div>
          </section>
     </div>

     <!-- Features -->
     <section class="bg-white" id="features">
          <div class="py-8 lg:py-16">
               <h2 class="text-3xl font-bold mb-3 tracking-tight leading-tight text-center md:text-4xl">Our <span class="text-primary-60">amazing</span> features </h2>
               <p class="text-center">...providing solace and comfort to our users at scale.</p>
               
               <div class="mx-auto max-w-screen-2xl py-12">
                    <div class="flex justify-between items-center pl-4 lg:pl-24">
                         <nav class="features-container flex flex-col border-l-2 border-[#F2F4F7] ">
                              <div data-img="1" class="features cursor-pointer -ml-px border-l-2 border-primary-60 p-4 max-w-lg hover:border-primary-50">
                                   <p class="font-semibold text-primary-60 mb-2">
                                        Self Affirmation
                                   </p>
                                   <p>Self-affirmations to help you stay motivated everyday.</p>
                              </div>
                         
                              <div data-img="2" class="features cursor-pointer -ml-px border-l-2 border-l-[transparent] p-4 max-w-lg hover:border-primary-50">
                                   <p class="font-semibold text-primary-60 mb-2">
                                        Mental Health Tips
                                   </p>
                                   <p>Everyday tips to elevate your mental well-being</p>
                              </div>
                         
                              <div data-img="3" class="features cursor-pointer -ml-px border-l-2 border-l-[transparent] p-4 max-w-lg hover:border-primary-50">
                                   <p class="font-semibold text-primary-60 mb-2">
                                        Blog Post
                                   </p>
                                   <p>Our blog features different perspectives and insights on mental health issues and topics.</p>
                              </div>
                         
                              <div data-img="4" class="features cursor-pointer -ml-px border-l-2 border-l-[transparent] p-4 max-w-lg hover:border-primary-50">
                                   <p class="font-semibold text-primary-60 mb-2">
                                        Community
                                   </p>
                                   <p>Our community is created to help you Feel. Feel connected, accepted, and supported. Come around the forum every time you feel alone.</p>
                              </div>
                                                  
                              
                         </nav>

                         <div class="hidden lg:block">
                              <img alt="House" src="/images/macbook-laptop-1.png" class="max-w-xl features-img"/>
                         </div>
                    </div>
               </div>

               <div class="flex justify-center">
                    <a href="/user/register" class="inline-flex bg-primary-60 hover:bg-primary-70 text-white justify-center items-center py-3 px-12 text-base text-center rounded-sm">
                         Get Started
                    </a> 
               </div>
          </div>
     </section>
                
     <!-- Advice Word -->
     <section class="bg-[#2C6E49] text-white">
          <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:items-center" >
            <div class="mx-auto text-center">
              <h1 class="max-w-4xl mx-auto font-extrabold text-xl lg:text-4xl">
               We believe in healthy mental wellness, <br> and the need to continually break the stigmas.
              </h1>
        
              <p class="mt-4 sm:text-xl sm:leading-relaxed">
               Our goal is to help you improve your health and happiness. We're dedicated to walking this path with you.
              </p>
        
              
            </div>
          </div>
     </section>

     <!-- OUR TEAM -->
     <section class="bg-white">
          <div class=" items-center py-6 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
               <div class="font-light text-gray-500 sm:text-lg text-center max-w-xl mx-auto">
                    <h2 class="mb-4 text-3xl lg:text-4xl font-bold ">Meet Our Team</h2>
                    <p class="mb-4">Our philosophy is simple — hire a team of diverse, passionate people and foster a culture that empowers you to do you best work.</p>
               </div>
               <div class="text-center grid md:grid-cols-2 lg:grid-cols-4 place-items-center">
                    <div class="overflow-hidden rounded-lg shadow-sm">
                         <img alt="hassanat-ceo" src="/images/hassanat.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Hassanat Abubakar </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> CEO </p>
                         </div>
                    </div>

                    <div class="overflow-hidden rounded-lg  shadow-sm">
                         <img alt="hassanat-ceo" src="/images/posi.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Olamiposi Oluwasexy </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> Product Manager </p>
                         </div>
                    </div>

                    <div class="overflow-hidden rounded-lg shadow-sm">
                         <img alt="hassanat-ceo" src="/images/danny.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Danny Ombeh </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> Product Designer </p>
                         </div>
                    </div>

                    <div class="overflow-hidden rounded-lg shadow-sm">
                         <img alt="hassanat-ceo" src="/images/hassan.png" class="object-cover"/>
                    
                         <div class="p-4 sm:p-6">
                              <a href="#">
                                   <h3 class="text-lg font-medium text-gray-900"> Hassan Yahya </h3>
                              </a>
                    
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3"> Software Engineer </p>
                         </div>
                    </div>
   
               </div>
          </div>
     </section>

     <!-- Testimonials -->
     <section class="bg-primary-60 text-white" id="testimonials">
          <div class="py-8 px-4 mx-auto max-w-screen-xl  lg:h-screen lg:py-16 lg:px-6">
               <h2 class="mb-4 text-center text-2xl lg:text-left lg:text-3xl font-bold">Hear from our <span class="font-extrabold">users</span> </h2>
                    
               <div class="grid place-items-center lg:grid-cols-2">
                    <div class="testimonial-container relative w-full h-full hidden lg:block">
                         <div data-id="8" class="testimonial-profile absolute cursor-pointer top-4 left-12 hover:-translate-y-2 transition-transform">
                              <img class="testimonial-img " src="/images/user-8.png" alt="user">
                         </div>
                         <div data-id="5" class="testimonial-profile absolute cursor-pointer top-32 left-36 hover:-translate-y-2 transition-transform">
                              <img src="/images/user-5.png" alt="user">
                         </div>
                         <div data-id="4" class="testimonial-profile absolute cursor-pointer top-24 right-28 hover:-translate-y-2 transition-transform">
                              <img src="/images/user-4.png" alt="user">
                         </div>
                        
                         
                         <div data-id="2" class="testimonial-profile absolute cursor-pointer top-48 left-72 hover:-translate-y-2 transition-transform border-solid border-4 border-white rounded-full scale-150">
                              <img src="/images/user-2.png" alt="user">
                         </div>
                         <div data-id="3" class="testimonial-profile absolute cursor-pointer top-1/2 right-0 hover:-translate-y-2 transition-transform">
                              <img src="/images/user-3.png" alt="user">
                         </div>
                         <div data-id="6" class="testimonial-profile absolute cursor-pointer top-80 right-32 hover:-translate-y-2 transition-transform">
                              <img src="/images/user-6.png" alt="user">
                         </div>
                         <div data-id="1" class="testimonial-profile absolute cursor-pointer top-52 left-5 hover:-translate-y-2 transition-transform">
                              <img src="/images/user-1.png" alt="user">
                         </div>
                         <div data-id="7" class="testimonial-profile absolute cursor-pointer top-80 left-36 hover:-translate-y-2 transition-transform">
                              <img src="/images/user-7.png" alt="user">
                         </div>
                    </div>
                    
                    <div>
                         <div class="text-center flex flex-col space-y-5 items-center place-self-center max-w-lg">
                              <i class="fa-solid fa-quote-left text-[#52B17C] text-9xl self-start"></i>
                              <div>
                                   <h3 class="testimonial-text text-xl font-semibold sm:text-2xl">
                                        I loved using Consuelo, it helped me through my problems and now I’m healed
                                   </h3>
                                   
                                   <footer class="testimonial-name mt-8 text-gray-500">Grace Alojore</footer>
                              </div>
                              <i class="fa-solid fa-quote-right text-[#52B17C] text-9xl self-end"></i>
                         </div>
                    </div>
               </div>
                       
          </div>
     </section>

     <!-- Blog -->
     <section class="bg-white dark:bg-gray-900">
          <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
               <h2 class="mb-4 text-4xl font-bold ">Read Our Latest</h2>
               
               <div class="grid gap-4 lg:grid-cols-3">
                    <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
                         <img alt="blog img" src="/images/blog-smile.png" class="h-56 w-full object-cover" />
                    
                         <div class="bg-white p-4 sm:p-6">
                              <a href="/blog">
                                   <h3 class="mt-0.5 text-lg text-gray-900">
                                        Smiling through the hardship
                                   </h3>
                              </a>
                         
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus pariatur animi olore sed nulla ipsum eveniet corporis quidem,lpa eius atque dignissimos. Molestias explicabo corporis voluptatem?
                              </p>

                              <p class="block text-sm text-gray-500 mt-2"> blog / 3 mins read</p>
                         </div>
                    </article>

                    
                    <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
                         <img alt="blog img" src="/images/blog-smile.png" class="h-56 w-full object-cover" />
                    
                         <div class="bg-white p-4 sm:p-6">
                              <a href="/blog">
                                   <h3 class="mt-0.5 text-lg text-gray-900">
                                        Smiling through the hardship
                                   </h3>
                              </a>
                         
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus pariatur animi olore sed nulla ipsum eveniet corporis quidem,lpa eius atque dignissimos. Molestias explicabo corporis voluptatem?
                              </p>

                              <p class="block text-sm text-gray-500 mt-2"> blog / 3 mins read</p>
                         </div>
                    </article>

                    <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
                         <img alt="blog img" src="/images/blog-smile.png" class="h-56 w-full object-cover" />
                    
                         <div class="bg-white p-4 sm:p-6">
                              <a href="/blog">
                                   <h3 class="mt-0.5 text-lg text-gray-900">
                                        Smiling through the hardship
                                   </h3>
                              </a>
                         
                              <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus pariatur animi olore sed nulla ipsum eveniet corporis quidem,lpa eius atque dignissimos. Molestias explicabo corporis voluptatem?
                              </p>

                              <p class="block text-sm text-gray-500 mt-2"> blog / 3 mins read</p>
                         </div>
                    </article>


               </div>
          </div>
     </section>

     <!-- Footer -->
     <footer class="p-6 lg:px-4 lg:py-16 bg-[#2C6E49] text-white">
          <div class="mx-auto max-w-screen-xl">
               <div class="md:flex md:justify-between pt-6">
                    <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                         <div>
                         <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Main</h2>
                         <ul class="text-gray-600 dark:text-gray-400">
                              <li class="mb-4">
                                   <a href="/" class="hover:underline">FAQs</a>
                              </li>
                              <li class="mb-4">
                                   <a href="/" class="hover:underline">Support</a>
                              </li>
                              <li class="mb-4">
                                   <a href="/about" class="hover:underline">About Us</a>
                              </li>
                         </ul>
                         </div>
                         <div>
                              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Products</h2>
                              <ul class="text-gray-600 dark:text-gray-400">
                                   <li class="mb-4">
                                        <a href="/user/login" class="hover:underline ">Login</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="#testimonials" class="hover:underline">Testimonials</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="#features" class="hover:underline">Features</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="" class="hover:underline">Mission</a>
                                   </li>
                              </ul>
                         </div>
                         <div>
                              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Press</h2>
                              <ul class="text-gray-600 dark:text-gray-400">
                                   <li class="mb-4">
                                        <a href="/blog" class="hover:underline">Blog</a>
                                   </li>
                                   <li class="mb-4">
                                        <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                                   </li>
                              </ul>
                         </div>
                    </div>

                    <div class="mb-6 md:mb-0">
                         <div class="text-left lg:text-center sm:text-left md:col-span-4 lg:col-span-2">
                              <p class="text-lg font-medium uppercase">Subscribe to our newsletter</p>
                      
                              <div class="mx-auto mt-8 max-w-md sm:ml-0">
                                <p class="text-center leading-relaxed text-gray-500 sm:text-left">
                                   We share positive notes, mental health tips, stories, and
                                   practical advice directly to your inbox.
                                </p>
                      
                                <form class="mt-4">
                                   <div class="flex justify-start items-center font-semibold">
                                    <label for="email" class="sr-only">Email</label>
                                    <input class="w-full border-gray-200 px-6 py-3 shadow-sm text-black" type="email" placeholder="Your email address" />
                      
                                    <button class="block bg-primary-100 px-8 py-3 text-white transition max-w-xs" type="submit" >
                                      Subscribe
                                    </button>
                                  </div>
                                </form>
                              </div>
                         </div>
                    </div>
               </div>
               
          </div>

          <div class="mx-auto max-w-screen-xl">

               <hr class="my-6 border-x-white sm:mx-auto lg:my-8" />
               <div class="flex flex-col md:flex-row items-center justify-between">
                    <div href="/" class="flex items-center">
                          <img alt="consuelo-logo" src="/images/logo.png" class="mr-3 h-6 sm:h-9" />
                          <h1 class="self-center text-xl font-semibold whitespace-nowrap">Consuelo</h1>
                    </div>
      
                    <span class="text-sm mt-4 md:mt-0 text-gray-500 sm:text-center dark:text-gray-400">
                            &copy; 2022 <a href="/" class="hover:underline">Consuelo</a>. 
                            All Rights Reserved.
                    </span>
      
                    <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0 text-3xl">
                         <a href="https://twitter.com/yourconsuelo" target="_blank" class="text-gray-500"> 
                              <i class="fa-brands fa-twitter"></i> 
                         </a>
                         <a href="https://instagram.com/yourconsuelo" target="_blank" class="text-gray-500">
                              <i class="fa-brands fa-instagram"></i>
                         </a>
                                              
                         <a href="#" target="_blank" class="text-gray-500" >
                              <i class="fa-brands fa-linkedin"></i>
                         </a>
                    </div>
               </div>
          </div>        
     </div>
     </footer>
     
     <!-- Overlay -->
     <div class="overlay hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 transition-all duration-500 ease-in-out z-30"></div>            

          
     <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
     <script src="/js/navBar.js"></script>
     
     <!-- navBar is hoisted above landingPage.js because it needs variable from navBar and hence, should not be deleted -->
     <script src="/js/landingPage.js"></script>
</body>
</html>